﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS --> 
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/shop-homepage.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" @Html.ActionLink("Home", "Index", "Home")
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                    <li>@Html.ActionLink("Oyunlar", "Index", "Oyunlars")</li>
                    </li>
                    <li>
                        @Html.ActionLink("Kullanıcılar", "Index","Kullanici")
                    </li>
                    <li>
                        @Html.ActionLink("Yorumlar", "Index", "Yorums")
                    </li>
                    <li>
                        @Html.ActionLink("Hakkımızda", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Kategori", "Index", "Kategori")
                    </li>
                               
                </ul>
              
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    @RenderBody()
    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                   
                    <p><font size="3" face="Arial" color="black">Tarih = @DateTime.Now </p>
                </div>
            </div>
            
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery --> 
    <script src="~/scripts/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript --> 
    <script src="~/scripts/js/bootstrap.min.js"></script>
</body>
</html>
