﻿@model Layout.Models.Yorum

@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <div class="row">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Yorum</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.YorumIcerik)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.YorumIcerik)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Kullanici.KullaniciAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kullanici.KullaniciAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oyunlar.OyunAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oyunlar.OyunAd)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>
