﻿@model Layout.Models.Yorum

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <h2>Details</h2>

        <div>
            <h4>Yorum</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.YorumIcerik)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.YorumIcerik)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Kullanici.KullaniciAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kullanici.KullaniciAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Oyunlar.OyunAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Oyunlar.OyunAd)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.YorumID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>