﻿@model IEnumerable<Layout.Models.Yorum>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Kullanici.KullaniciAd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oyunlar.OyunAd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YorumIcerik)

                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kullanici.KullaniciAd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Oyunlar.OyunAd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YorumIcerik)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit", new { id = item.YorumID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.YorumID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.YorumID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>