﻿@model Layout.Models.Oyunlar

@{
    ViewBag.Title = "Details1";
}
<div class="container">
    <div class="row">
        <h2>Details</h2>

        <div>
            <h4>Oyunlar</h4>
            <img src="http://2.bp.blogspot.com/-MIye2MD8iQY/Vq3alqDn96I/AAAAAAAAILU/ZAOgwewJEvM/s320/LEGO%2BMarvel%2BSuper%2BHeroes%2BPC%2BGame.jpg" alt="">
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.OyunDili)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OyunDili)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kategori.KategoriAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlatformAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlatformAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SistemGereksinimleri)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SistemGereksinimleri)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OyunUcreti)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OyunUcreti)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OyunHikaye)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OyunHikaye)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OyunAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OyunAd)
                </dd>



            </dl>
        </div>
        <p>

        </p>
    </div>
</div>