﻿@model Layout.Models.Oyunlar

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">

        <h2>Details</h2>

        <div>
            <h4>Oyunlar</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.OyunDili)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OyunDili)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PlatformAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlatformAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SistemGereksinimleri)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SistemGereksinimleri)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OyunUcreti)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OyunUcreti)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OyunHikaye)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OyunHikaye)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OyunAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OyunAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Kategori.KategoriAd)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.OyunID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>