﻿@model IEnumerable<Layout.Models.Oyunlar>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">

        <h2>Spor Oyunları</h2>

      
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OyunDili)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlatformAd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SistemGereksinimleri)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OyunUcreti)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OyunHikaye)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OyunAd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OyunDili)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlatformAd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SistemGereksinimleri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OyunUcreti)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OyunHikaye)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OyunAd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kategori.KategoriAd)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OyunID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OyunID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OyunID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>