﻿@model Layout.Models.Kullanici

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <h2>Details</h2>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KullaniciAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KullaniciAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KullaniciSifre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KullaniciSifre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KullaniciAdSoyad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KullaniciAdSoyad)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.KullaniciID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>