﻿@model IEnumerable<Layout.Models.Kullanici>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.KullaniciAd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KullaniciSifre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KullaniciAdSoyad)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.KullaniciAd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KullaniciSifre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KullaniciAdSoyad)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.KullaniciID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.KullaniciID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.KullaniciID })
                        </td>
                    </tr>
                }
        </div>
</div>
            </table>
