﻿@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-md-5">


            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <p>Use this area to provide additional information.</p>
        </div>
       </div>
   </div>
