﻿
@{
    ViewBag.Title = "Hazırlayanlar";
}
<div class="container">
    <div class="row">
        <div class="col-md-5">


            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
            <p>
               Ad: Yüksel Yumrutaş 
            </p>
            <p>
                No: 1521012075
            </p>
            <p>
                Ad: Bahar Şapçı 
            </p>
            <p>
                No: 1211016041
            </p>
            <p>
                Ad: 
            </p>
            <p>
                No: 
            </p>
            


            

        </div>
    </div>
</div>

