﻿@model Layout.Models.Kategori

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">

        <h2>Details</h2>

        <div>
            <h4>Kategori</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KategoriAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KategoriAd)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.kategoriID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>