﻿@model IEnumerable<Layout.Models.Kategori>

@{
    ViewBag.Title = "Kategoriler";
}

<div class="container">
    <div class="row">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KategoriAd)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KategoriAd)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.kategoriID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.kategoriID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.kategoriID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>